body{
  background-color: skyblue;
}

a{
   text-decoration: none;
}

.topNav{
  background-color: rgb(0, 0, 255);
  text-align: center;
  font-family: calibri;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;

}

.topNav a{
  color: white;
  text-transform: uppercase;
  transition: 0.5s ease;
  padding: 20px;
}

a:hover {
  color:#0B3C5D;
}

img{
  width:350px;
}
.content{
  padding:20px;
  display: flex;
}

.layer1{
  text-transform: uppercase;
  font-size: 30px;
  font-weight:bold;
  font-family: sans-serif;
  opacity:0;
}

.layer1{
  position: absolute;
  top:400px;
  left:10px;
}

.layer1 a{
  color:rgb(0, 0, 255);
}

.pic{
  width: 0px;
}

.pic:hover img{
  opacity: 0.7;
  transition: 0.7s ease;
}

.pic:hover .layer1{
  opacity: 1;
}

.layer1:hover a{
  color:pink;
}

.intro{
  color:black;
  line-height: 30px;
  font-family: Noto Sans, sans-serif;
  margin-left: 400px;
  width: 900px;
  height:400px;
}
.intro #line1{
  color:black;
  font-size: 30px;
  font-weight: bold;
  color:white;
  width:500px;
  margin-left: 80px;
}

.intro #line2{
  color:black;
  font-size: 20px;
  font-weight: bold;
  width: 500px;
  margin-left: 80px;

}

.intro #line3{
  color:black;
  font-size: 15px;
  font-weight: bold;
  width: 500px;
  margin-left: 80px;
  text-decoration: overline,underline;
}
.intro #line4{
  color:black;
  font-size: 15px;
  font-weight: bold;
  width: 500px;
  margin-left: 80px;
  text-decoration: overline,underline;
}
.header1{
  color: white;
  background-color: rgb(0, 0, 255);
  border: 2px solid white;
  text-align: center;
  font-family: Noto Sans, sans-serif;

}

#personal{
    width: 650px;
    margin-left: 250px;
}

#personal p{
  color: black;
  font-family: sans-serif;
  font-size: 25px;
  line-height: 55px;
}
.header2{
  color: white;
  background-color: rgb(0, 0, 255);
  border: 2px solid white;
  text-align: center;
  font-family: Noto Sans, sans-serif;

}

#educ{
  width: 950px;
  margin-left: 250px;
}

#educ p{
  color:black;
  font-family: sans-serif;
  font-size: 25px;
  line-height: 55px;
}
.header3{
  color: white;
  background-color: rgb(0, 0, 255);
  border: 2px solid white;
  text-align: center;
  font-family: Noto Sans, sans-serif;

}

#workexperience{
  width: 950px;
  margin-left: 250px;
}

#workexperience p{
  color: black;
  font-family: sans-serif;
  font-size: 25px;
  line-height: 55px;
}
.header4{
  color: white;
  background-color: rgb(0, 0, 255);
  border: 2px solid white;
  text-align: center;
  font-family: Noto Sans, sans-serif;

}

#skills{
  width: 950px;
  margin-left: 250px;
}

#skills p{
  color: black;
  font-family: sans-serif;
  font-size: 25px;
  line-height: 55px;
}
.header5{
  color: white;
  background-color: rgb(0, 0, 255);
  border: 2px solid white;
  text-align: center;
  font-family: Noto Sans, sans-serif;
  font-size: 20px

}

#references{
  width: 950px;
  margin-left: 250px;
}

#references p{
  color: black;
  font-family: sans-serif;
  font-size: 25px;
  line-height: 55px;
}

